.city {
  position: relative;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 300px;
  text-align: center;
  font-size: 40px;
  top: 30px;
  color: #000000;
  font-family: "Brush Script MT", cursive;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  animation: typing 3.5s steps(60, end), blink-caret 0.15s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

.city:hover {
  font-variation-settings: "wght" 528;
  letter-spacing: 1px;
}

.time_and_date {
  position: relative;
  text-align: center;
  top: 30px;
  margin-left: 300px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.weather {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  margin-top: 60px;
}

.weather__icon {
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
}

.weather__temp {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  font-family: century gothic;
  color: #000000;
  margin-left: 420px;
  margin-top: 20px;
}

.weather__feelslike {
  position: absolute;
  margin-left: 420px;
  margin-top: 80px;
  font-weight: bold;
}
.weather__humidity {
  position: absolute;
}
.weather__wind {
  position: absolute;
}

.switchgrades {
  position: relative;
  margin-left: 300px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media only screen and (max-width: 480px) {
  .city {
    font-size: 40px;
    margin-left: 20px;
  }
  .time_and_date {
    margin-left: 20px;
    
  }
  .weather {
    margin-left: 0;
  }
  .weather_icon {
    margin-left: 50px;
  }
  .weather__feelslike {
    margin-left: 450px;
  }
  .weather__humidity {
  }
  .weather__wind {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .city {
    font-size: 40px;
    margin-left: 20px;
  }
  .time_and_date {
    margin-left: 20px;
  }
  .weather {
    margin-left: 0;
  }
  .weather__feelslike,
  .weather__humidity,
  .weather__wind {
    margin-left: 0;
  }
}
